venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env*
.git/
.gitignore
db.sqlite3
media/
staticfiles/
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
coverage.xml
*.egg-info/
.DS_Store
pyrightconfig.json